.dropdown {
    position: relative;
    width: 300px;
    outline: none;
}
.dropdown.disabled .selected{
    opacity: 0.6;
}
.dropdown > .selected {
    position: relative;
    font-weight: 700;
    border: 1px solid #BBB;
    border-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    padding: 10px 12px;
}
.dropdown.focus > .selected,
.dropdown:focus > .selected {
    outline: none;
}

.dropdown .item:hover,
.dropdown .item.highlighted{
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown > .selected:hover,
.dropdown > .selected:focus {
    cursor: pointer;
}
.dropdown > .selected i {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 0;
    width: 16px;
    line-height: 40px;
}
.dropdown.open > .selected {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0
}
.dropdown ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dropdown ul.items {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 10;
    line-height: 1;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #BBB;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
}
.dropdown ul.items li {
    position: relative;
    display: block;
    cursor: pointer;

    font-weight: 700;
    padding: 10px 12px;
}
.dropdown ul.selections {
    list-style-type: none;
}
.dropdown ul.selections li{
    position: relative;
    margin: 0 0 2px 0;
    padding: 5px 12px;

    font-weight: 700;
    border: 1px solid #BBB;
    border-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
}
.dropdown .selections i {
    position: absolute;
    top: 8px;
    right: 12px;
    bottom: 0;
    width: 16px;
    line-height: 40px;
    cursor: pointer;
}
