body.no-scroll {
    overflow: hidden;
}

.selleckt * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selleckt {
    position: relative;
    width: 300px;
    outline: none;
}
.selleckt.disabled .selected{
    opacity: 0.6;
}
.selleckt > .selected {
    position: relative;
    font-weight: 700;
    border: 1px solid #BBB;
    border-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    padding: 10px 12px;
}
.selleckt.focus > .selected,
.selleckt:focus > .selected {
    outline: none;
}

.selleckt .item.highlighted{
    background-color: rgba(0, 0, 0, 0.2);
    outline: 0;
}

.selleckt .item:focus{
    outline: 0;
}

.selleckt > .selected:hover,
.selleckt > .selected:focus {
    cursor: pointer;
}
.selleckt > .selected i {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 0;
    width: 16px;
    line-height: 40px;
}
.selleckt.open > .selected {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.selleckt ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.selleckt .items {
    margin-top: -1px;
    width: 100%;
    z-index: 10;
    line-height: 1;
    border: 1px solid #BBB;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
}
    .selleckt .items .itemslist {
        max-height: 300px;
        overflow: auto;
    }
    .selleckt .items .searchContainer {
        position: relative;
        padding: 12px 36px 12px 12px;
        left: 0;
        right: 0;
    }
    .selleckt .items .searchContainer .search {
        width: 100%;
    }
.selleckt .items li {
    position: relative;
    display: block;
    cursor: pointer;

    font-weight: 700;
    padding: 10px 12px;
}
    .selleckt .items footer {
        padding: 10px;
    }
        .selleckt .items footer a {
            cursor: pointer;
        }
        .selleckt .items footer hr {
            padding: 0;
            margin-top: 0;
            margin-bottom: 10px;
        }
    .selleckt .selections i.edit {
        right: 8px;
        visibility: hidden;
    }
    .selleckt .selectionItem:hover i.edit {
        visibility: visible;
    }
.selleckt .items mark {
    color: red;
}
.selleckt ul.selections {
    list-style-type: none;
}

.demo-2 .selleckt ul.selections li,
.demo-3 .selleckt ul.selections li,
.demo-4 .selleckt ul.selections li > div {
    position: relative;
    padding: 5px 12px;
    font-weight: 700;
    border: 1px solid #BBB;
    border-radius: 4px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 253, 253)), to(rgb(248, 248, 248)));
    background-image: -webkit-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -moz-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -o-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
    background-image: -ms-linear-gradient(top, rgb(253, 253, 253), rgb(248, 248, 248));
}
.demo-2 .selleckt ul.selections li,
.demo-3 .selleckt ul.selections li {
    margin: 0 0 2px 0;
}
.demo-4 .selleckt ul.selections li {
    position: relative;
}
.demo-4 .selleckt ul.selections li > div {
    margin: 0 30px 2px 0;
}
.demo-5 button,
.demo-6 button {
    margin-top: 10px;
}
.demo-5-options label{
    display: inline-block;
    margin-left: 5px;
}
.demo-5-options input[type="checkbox"]{
    margin: 0 0 0 5px;
}
.selleckt .selections i {
    position: absolute;
    top: 8px;
    right: 12px;
    bottom: 0;
    width: 16px;
    line-height: 40px;
    cursor: pointer;
}
.selleckt .noitemsText {
    display: none;
    font-weight: 700;
    padding: 10px 12px;
    font-style: italic;
}
.selleckt.noitems .noitemsText {
    display: block;
}
